<!-- Services Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">The 1CPN model makes simulation of chromatin a breeze</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Rigorously coarse-grained</h4>
                    <p class="text-muted"> The 1CPN model is build using a rigorous multi-scale approach based on free energies obtained using the detailed 3SPN-AICG nucleosome model.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Chemically Detailed</h4>
                    <p class="text-muted">
                    Interested in the impact of histone modifications on chromatin structure? or DNA sequence? or the linker histone? The 1CPN model can captures it all.
                    
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fast and Parallel</h4>
                    <p class="text-muted">
                      Implemented in LAMMPS and built from the ground up for speed, the 1CPN model scales across hundreds of processors, and can easily simulate many kilobases of DNA.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <div class="col-lg-12 text-center" style="margin-top:100px">
                    <!--
                    <iframe src="https://player.vimeo.com/video/327831013" width="640" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Il-bTh3wVqo" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
